<div class="s-layout">
   <!-- Sidebar -->
   <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger" href="#0">
         <i class="fa fa-bars"></i>
      </a>

      <nav class="s-sidebar__nav">
         <ul>
            <li>
               <a class="s-sidebar__nav-link" [routerLink]="['/main']">
                  Movies
               </a>
            </li>
         </ul>
      </nav>
   </div>

   <!-- Content -->
   <main class="s-layout__content">
      <img src="../../assets/bookmyshow.jpg">
   </main>
</div>